<% layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-lg-9">
    <h1>About Me</h1>
    <hr />
    <p>My name is Talha Sher</p>
    <p>
      A skilled UI/UX website designer specializing in HTML, CSS, JS, Bootstrap,
      MongoDB, Mongoose, Express.js, Node.js, routing, RESTful APIs, API
      integration, and EJS templating.
    </p>

    <p>
      Proficient in frontend technologies (HTML, CSS, JS, Bootstrap) and backend
      technologies (MongoDB, Mongoose, Express.js, Node.js), I create visually
      appealing websites and develop robust web applications. Expert in routing,
      RESTful APIs, and API integration, I ensure seamless data flow and
      enhanced user experiences.
    </p>
    <p>
      With EJS templating, I provide dynamic web pages and personalized content.
      Eager to expand my expertise, I plan to explore React, a popular
      JavaScript library for building user interfaces.
    </p>
  </div>
  <div class="col-lg-3 col-md-12">
    <div class="w-100 h-100">
      <img src="/images/img.jpg" alt="" class="img-fluid rounded" />
    </div>
  </div>
</div>
